/* IGNORE - DO NOT TOUCH THE STYLES BELOW */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,800');

body {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 20px;
  margin: 0;
  display: flex;
  align-items: center
}

.column {
  flex-grow: 1;
  width: 50%;
  padding: 10px;
  border-right: 1px solid #cfcfcf;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container {
  width:359px;
  height:621px;
  border: 1px solid #cfcfcf;
  overflow-y: hidden;
  text-align: center;
  overflow-x: hidden;
}

.sticky-div{
  background-color: #F5F5F5; 
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  height:21px;
}

.sticky-div:first-child {
  border-bottom: 1.5px solid #d3d3d3;
  color: #404040;
  font-style: bold;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;

}

.sticky-div:first-child > .fa{
  -webkit-text-stroke: 1px #F5F5F5;
 }

.middle-div{
  height:539px;
  overflow-y: auto;
  overflow-wrap: break-word;
  color: #404040;
}

.user{
  margin-bottom: 3px;
}

.user-details{
 margin: 7px 10px 7px 10px;
 vertical-align: center;
 height: 35px;
}

.user-logo{
  height:35px;
  width:35px;
  border-radius: 50%;
  float:left;
}

.user-name{
  float:left;
  font-size: 12px;
  padding-left: 10px;
  text-align: left;
}

.fa-angle-right{
  color: #777777;
  padding-right: 2px;
  font-size: 10px !important;
}

.fa-ellipsis-h{
  float:right;
  padding-top: 9px;
}

.image-div{
  width:359px;
  height:auto;
  padding: 0;
  border: 0;
}

.image-style{
  align-self: stretch;
  width:100%;
  height: auto;
}
.icons{
  height: 30px;
}

.icons > .fa{
  float: left;
  font-size: 23px !important;
  color:#404040;
  padding: 7px 7px 7px 7px;
}

.post-info{
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.likes{
    margin-top: 10px;
    max-block-size: 1px;
}

.user-name-link{
    text-decoration-line: none;
    color:	#2A52BE !important;
}

.sticky-div:last-child > .fa {
    font-size: 25px;
    color:#777777;
    cursor: pointer;
    vertical-align:middle;
    padding-left: 17px;
    padding-right: 28px;
}

.sticky-div:last-child > .fa:hover{
    color: black;
}

.fa-chevron-left{
  float:left;
}

.fa-repeat{
  float:right;
  transform: rotate(301deg);
}

.fa-bookmark-o{
  float:right !important;
}

.fa-home{
  -webkit-text-stroke: 2px #777777 !important;
  -webkit-text-fill-color: #F5F5F5 !important;
}

.fa-home:hover{
  -webkit-text-stroke: 2px black !important;
  -webkit-text-fill-color: #F5F5F5 !important;
}

.column:last-child {
  border-right: none;
}

.fa {
font-size: 20px;
}



.end-result {
  border: 1px solid #cfcfcf;
}
